html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 30px;
}

.menu-btn {
  padding-right: 40px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.top-links {
  position: fixed;
  left: -100%;
  top: 40px;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);;
  width: 100%;
  text-align: left;
  transition: 0.5s;
  height: 100em;
  z-index: 999;
  padding: 0 30px;
  backdrop-filter: blur(7px);
}

.top-link {
  margin: 16px 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 44px;
  color: white;
}

.top-links.active {
  left: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-bottom: 70px;
  background-image: url(../images/bgmobile.jpeg);
  background-size: cover;
}

.main-bg {
  position: absolute;
  background: url("images/header-illsutration-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-text {
  font-size: 10px;
}

.green-text {
  color: rgb(212, 30, 91);
  font-weight: 800;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.scnd-text {
  background-color: rgba(247, 247, 247, 0.75);
  padding: 15px;
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

.main h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.program-container {
  background-color: #272a31;
  padding: 8px;
}

.line {
  width: 30px;
  background-color: var(--primary-color);
  margin-bottom: 40px;
}

.card {
  background-color: #3c3f46;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 5px 10px 5px;
}

.card h4 {
  margin-left: 10px;
  color: rgb(212, 30, 91);
  font-weight: bold;
  margin-right: 10px;
  width: 140px;
}

.card p {
  width: 85%;
  color: white;
  font-size: 13px;
  margin-right: 10px;
}

.program-container button {
  width: 90%;
  background-color: rgb(212, 30, 91);
  padding: 25px 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 17px;
}

.program-container h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-program {
  display: none;
}

.speakers .less-btn i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.speakers .list .speaker-card .image {
  background-image: url(../images/checker.png);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  padding: 20px 0 0 20px;
}

.about-footer img {
  width: 160px;
  margin-left: 0;
}

.speakers .list .speaker-card .image img {
  width: 70px;
}

.speaker-card {
  display: flex;
  margin-bottom: 30px;
}

.speakers .list .speaker-card:not(:first-child):not(:nth-child(2)) {
  display: none;
}

.speakers {
  padding: 10px;
}

.speakers h4 {
  color: var(--font-color);
  font-weight: 600;
  margin-left: 25px;
}

.speakers .list .speaker-card .details h4 {
  font-family: var(--font-family);
  text-align: left;
  margin-top: 30px;
}

.speakers .list .speaker-card .details hr {
  width: 30px;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  margin-left: 25px;
}

.speakers h3 {
  font-family: var(--font-family);
  text-align: center;
  margin-top: 30px;
}

.speakers .list .speaker-card .details .description {
  color: var(--primary-color);
  font-style: italic;
  margin-left: 25px;
  width: 225px;
  margin-bottom: 10px;
  font-size: 14px;
}

.speakers .list .speaker-card .details p {
  color: var(--font-color);
  margin-left: 25px;
  width: 225px;
  font-size: 14px;
}

.more-btn {
  width: 90%;
  padding: 10px 30px;
  border: 1px solid black;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 40px;
}

.more-btn span {
  margin-right: 10px;
  color: var(--font-color);
  font-size: 13px;
}

.more-btn i {
  color: var(--primary-color);
}