html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
}

.menu-btn {
  padding-right: 40px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.top-links {
  position: fixed;
  left: -100%;
  top: 40px;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);;
  width: 100%;
  text-align: left;
  transition: 0.5s;
  height: 100em;
  z-index: 999;
  padding: 0 30px;
  backdrop-filter: blur(7px);
}

.top-link {
  margin: 16px 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 44px;
  color: white;
}

.top-links.active {
  left: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-bottom: 70px;
  margin-top: 50px;
}

.main-bg {
  position: absolute;
  background: url("images/header-illsutration-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-text {
  font-size: 10px;
}

.green-text {
  color: rgb(212, 30, 91);
  font-weight: 800;
  font-size: 25px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.scnd-text {
  background-color: rgba(247, 247, 247, 0.75);
  padding: 15px;
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 30px;
}

.main h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}